cffi==1.9.1
cryptography==1.5.3
enum34==1.1.6
hawkauthlib==0.1.1
idna==2.1
ipaddress==1.0.17
mohawk==0.3.3
pyasn1==0.1.9
PyBrowserID==0.11.0
pycparser==2.17
PyFxA==0.3.0
requests==2.12.1
requests-hawk==1.0.0
six==1.10.0
WebOb==1.6.3
